<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User !</title>
</head>
<body style="text-align: center; background-image: url('https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&w=600'); background-size: cover;">
    <h1><u>Create new User Account</u></h1><br><br><br>
    <form method="POST" action="/users/new">
        <label for="username">Username: </label>
        <input name="username" placeholder="Create username"><br><br>
        <label for="email">Email:    &nbsp; &nbsp; &nbsp; </label>
        <input name="email" placeholder="Enter valid Email Id"><br><br>
        <label for="password">Password: </label>
        <input name="password" type="password" placeholder="set password"><br><br><br>
        <button type="submit">Create Account</button>
    </form>
</body>
</html>